body {
  margin: 0;
}

.container {
  display: flex;
}

.esquerda {
  background-color: black;
  width: 40vw;
  height: 100vh;
}

.esquerda img {
  width: 30vw;
  height: 60vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 17.5vh;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

.direito {
  display: flex;
  flex-direction: column;
  background-color: #fdf2cd;
  width: 100%;
  height: 100vh;
}

.logo {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 70px;
  max-height: 100px;
  height: 100vh;
}

.cadastro {
  margin-top: -2rem;
  display: flex;
}

.input-cliente,
.input-endereco {
  align-items: center;
  display: flex;
  margin: 20px;
  flex-direction: column;
}
.input-cliente {
  margin-left: auto;
}
.input-endereco {
  margin-right: auto;
}

input {
  width: 350px;
  text-align: center;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 10px;
  flex-direction: column;
}

.desing {
  flex-direction: row;
}

.botao {
  cursor: pointer;
  font-weight: bold;
  background-color: #ffbc59;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #ff9900;
}

.busca {
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(0, 17, 129);
  cursor: pointer;
  height: 25px;
}
