@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@300;400;500;600&family=Raleway:wght@600;800&family=Russo+One&family=Sora:wght@200;500&display=swap');

body {
  margin: 0;
}

.container {
  display: flex;
}

.esquerda {
  background-color: black;
  width: 40vw;
  height: 100vh;
}

.esquerda img {
  width: 30vw;
  height: 60vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 17.5vh;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  font-family: 'raleway';
}
h3 {
  margin-left: auto;
  margin-right: auto;
  font-family: 'raleway';
}
span {
  font-family: 'raleway';
}
a {
  text-decoration: none;
}
.direito {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}

.logo {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 70px;
  max-height: 100px;
  height: 100vh;
}

.input-cliente {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.input-cliente {
  margin-left: auto;
}
input {
  font-family: 'raleway';
  padding: 0.3rem 0;
  background-color: rgb(224, 224, 224);
  width: 350px;
  text-align: center;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 1rem;
  flex-direction: column;
}

.desing {
  flex-direction: row;
}

.botao {
  cursor: pointer;
  font-weight: bold;
  background-color: #ffbc59;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  font-family: 'raleway';
}

.botao:hover {
  background-color: #ff9900;
}

.busca {
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(0, 17, 129);
  cursor: pointer;
  height: 25px;
}
