@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@300;400;500;600&family=Raleway:wght@600;800&family=Russo+One&family=Sora:wght@200;500&display=swap');

::-webkit-scrollbar-thumb:hover {
  background: #ffae34;
  border-radius: 10px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

/* CSS NAVBAR E LOGO */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  position: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  transition: 0.3s ease-in-out;
  z-index: 2;
}
.nave {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  width: 90%;
  height: 100%;
}
.nave h1 {
  margin: 0;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  font-weight: 800;
  font-size: 20px;
}

.nav-itens {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-itens > li > a {
  color: #ffffff;
  text-decoration: none;
}

.nav-itens > li > a:hover {
  color: #ffae34;
}

.logo-img {
  width: 40px;
  height: auto;
  vertical-align: middle;
  /* vertical no centro. */
}

.itensDaNav {
  color: white;
  display: flex;
  text-decoration: none;
  gap: 10px;
  font-size: 1.5rem;
  align-items: center;
  margin: 0;
}

.menuLateral {
  background-color: black;
  height: 89vh;
  width: 20vw;
  margin-top: 11vh;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.div_dashboar {
  border-radius: 20px;
  background-color: white;
  display: flex;
  height: 83vh;
  width: 80vw;
  margin-left: 20vw;
  margin-top: 17vh;
  position: absolute;
  justify-content: center;
}

.kpi {
  margin: 3% 2.6%;
  width: 150vw;
  height: 20vh;
}
table {
  width: 110%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 12px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: center;
  width: 200px;
}

th {
  background-color: #f2f2f2;
}

.filtro {
  margin-top: 3%;
  width: 95%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filtro span {
  display: flex;
  text-align: end;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.amostragem {
  gap: 2rem;
  display: flex;
  margin-top: 15rem;
  position: absolute;
  justify-content: center;
  text-align: center;
}

#myChart {
  width: 37vw;
  border: 2px solid #3498db;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#myChart2 {
  width: 37vw;
  border: 2px solid #3498db;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.busca {
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(0, 27, 205);
  padding: 0.4rem;
  font-family: 'raleway';
  margin-top: 1.3rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.busca:hover {
  background-color: rgb(0, 17, 129);
}
