@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@300;400;500;600&family=Raleway:wght@600;800&family=Russo+One&family=Sora:wght@200;500&display=swap');

::-webkit-scrollbar-thumb:hover {
  background: #ffae34;
  border-radius: 10px;
}

body {
  margin: 0;
  font-family: 'raleway';
  background-color: #ffffff;
  overflow-x: hidden;
}

/* CSS NAVBAR E LOGO */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  /* background: white;  */
  /* box-shadow: rgba(31, 38, 135, 0.37) 0px 8px 20px 0px; */
  background-color: #000000;
  position: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  transition: 0.3s ease-in-out;
  z-index: 2;
}
.nave {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  width: 90%;
  height: 100%;
}
.nave h1 {
  margin: 0;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  font-weight: 800;
  font-size: 20px;
}

.nav-itens {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-itens > li > a {
  color: #ffffff;
  text-decoration: none;
}

.nav-itens > li > a:hover {
  color: #ffae34;
}

.logo-img {
  width: 40px;
  height: auto;
  vertical-align: middle;
  /* vertical no centro. */
}

.itensDaNav {
  color: white;
  display: flex;
  text-decoration: none;
  gap: 10px;
  font-size: 1.5rem;
  align-items: center;
  margin: 0;
}

.menuLateral {
  background-color: black;
  height: 89vh;
  width: 20vw;
  margin-top: 11vh;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.amostragem {
  display: flex;
  position: absolute;
  margin-left: 20vw;
  width: 80vw;
  background-color: aqua;
  height: 89vh;
  margin-top: 11vh;
}
