@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,100&family=Roboto+Slab:wght@100;500;700&display=swap');

::-webkit-scrollbar-thumb:hover {
  background: #ffae34;
  border-radius: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

/* CSS NAVBAR E LOGO */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  position: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  transition: 0.3s ease-in-out;
  z-index: 2;
}
.nave {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  width: 90%;
  height: 100%;
}
.nave h1 {
  margin: 0;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  font-weight: 800;
  font-size: 20px;
}

.nav-itens {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-itens > li > a {
  color: #ffffff;
  text-decoration: none;
}

.nav-itens > li > a:hover {
  color: #ffae34;
}

.logo-img {
  width: 40px;
  height: auto;
  vertical-align: middle;
  /* vertical no centro. */
}

.itensDaNav {
  color: white;
  display: flex;
  text-decoration: none;
  gap: 10px;
  font-size: 1.5rem;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.menuLateral {
  background-color: black;
  height: 89vh;
  width: 20vw;
  margin-top: 11vh;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

/* sub menu */
.submenu {
  display: none;
  gap: 50px;
  position: absolute;
  margin-top: 10%;
}
.submenu_perfil {
  color: white;
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  align-items: center;
  margin: 0;
  text-align: center;
  justify-content: center;
}

.grupotreino {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 2s;
}

.submenu > a {
  color: white;
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  align-items: center;
  margin: 0;
  text-align: center;
}

.div_dashboar {
  border-radius: 20px;
  background-color: white;
  display: flex;
  height: 83vh;
  width: 80vw;
  margin-left: 20vw;
  margin-top: 17vh;
  position: absolute;
}

.kpi {
  text-align: center;
  margin: 3% 2.6%;
  width: 150vw;
  height: 20vh;
  background-color: #3498db;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 12px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: center;
  width: 200px;
}

th {
  background-color: #f2f2f2;
}

.filtro {
  margin-top: 3%;
  width: 95%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtro_aparelho {
  display: flex;
  flex-direction: column;
  width: 120%;
  align-items: center;
  height: 30%;
  text-align: center;
}

.filtro_aparelho span {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
.filtro span {
  display: flex;
  text-align: end;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.amostragem {
  gap: 2rem;
  display: flex;
  margin-top: 13.5rem;
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.estilo {
  width: 37vw;
  border: 2px solid #3498db;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alerta {
  width: 10vw;
  align-items: center;
  justify-content: center;
  display: flex;
}
.alertas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 35%;
  gap: 5%;
}

.inform {
  position: absolute;
  margin-top: 7%;
}

.graficos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: -5%;
}

.busca {
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(0, 27, 205);
  padding: 0.4rem;
  font-family: 'Roboto Slab', serif;
  margin-top: 1.3rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.busca:hover {
  background-color: rgb(0, 17, 129);
}

/* Dashboard - perfil */
h3 {
  margin-left: 55px;
  height: 30px;
  width: 25%;
}

.img {
  display: flex;
  width: 12%;
  height: 25%;
  border-radius: 40px;
  margin-left: 550px;
  margin-top: 20px;
}

.divTudoPerfil {
  align-items: center;
  justify-content: center;
}

.divInputsPerfil {
  margin-top: 40px;
  font-size: 15px;
  width: 100%;
  height: 40%;
  margin-left: 250px;
}

.SpanPerfil {
  color: gray;
  font-size: 20px;
}

.inputPerfil {
  font-size: 20px;
  width: 90%;
  outline: none;
  border-radius: 0;
  background-color: white;
  border: none;
  border-bottom: 2px solid black;
}

.inputPerfilCnpj {
  font-size: 20px;
  width: 40%;
  outline: none;
  border-radius: 0;
  background-color: white;
  border: none;
  border-bottom: 2px solid black;
}

.inputPerfilTel {
  font-size: 20px;
  width: 40%;
  outline: none;
  border-radius: 0;
  background-color: white;
  border: none;
  border-bottom: 2px solid black;
}

.divButtonPerfil {
  display: flex;
  align-content: space-between;
  margin-left: 520px;
  margin-top: 15px;
}

.buttonPerfil {
  border: 0px;
  background: white;
  text-decoration: underline;
  color: blue;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-content: space-between;
  margin: 10px;
  cursor: pointer;
}

.divInputsPerfil2 {
  display: none;
  margin-top: 40px;
  font-size: 15px;
  width: 100%;
  height: 40%;
  margin-left: 250px;
}

.buttonSalvar {
  background-color: #fdb13f;
  color: #2b2828;
  padding: 15px 15px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  width: 10%;
  font-weight: bold;
  margin-left: 35%;
}

.buttonSalvar:hover {
  background-color: #ff9900;
}
