@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,100&family=Roboto+Slab:wght@100;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.container {
  display: flex;
}

.esquerda {
  background-color: black;
  width: 40vw;
  height: 100vh;
}

.esquerda img {
  width: 30vw;
  height: 60vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-top: 17.5vh;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}
h3 {
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.direito {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}

.logo {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 70px;
  max-height: 100px;
  height: 100vh;
}

.input-cliente {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.input-cliente {
  margin-left: auto;
}
input {
  padding: 0.3rem 5px;
  background-color: rgb(224, 224, 224);
  width: 357px;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 1rem;
  flex-direction: column;
}

.desing {
  flex-direction: row;
}

.botao {
  cursor: pointer;
  font-weight: bold;
  background-color: #ffbc59;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #ff9900;
}

.busca {
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(0, 17, 129);
  cursor: pointer;
  height: 25px;
}

@keyframes escala {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.liberado {
  width: 10%;
  height: 80px;
  position: absolute;
  margin-left: 54%;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 1%;
}

.escala-animation {
  animation: escala 0.5s ease-in-out;
}
